    <header class="masthead">
        <h1 class="masthead-heading">Tweetful</h1>
        <p class="masthead-intro">Making the internet a little more thoughtful</p>
    </header>
    <div class="info-container">
        <section class="info">
            <header>
                <h2>Josh James</h2>
                <subsection>Founder</subsection>
            </header>
            <p>Josh founded Tweetful in 2010 to help CEOs and other leaders change the way they do business and obtain value from the tens of billions of dollars spent on traditional business intelligence systems.</p>
        </section>
        <section class="info">
            <header>
                <h2>Chris Harrington</h2>
                <subsection>President</subsection>
            </header>
            <p>Chris joined Tweetful in 2012 as company president and as a member of the board of directors to help orchestrate and accelerate the company's growth. He brings 25 years of sales leadership to Tweetful.</p>
        </section>
        <section class="info">
            <header>
                <h2>Niharika Mangineni</h2>
                <subsection>CTO</subsection>
            </header>
            <p>
                Niharika draws from more than 20 years of product and technology leadership to oversee all of Tweetful's product development, technology and infrastructure — in addition to serving as the company's chief apologist for the New York Yankees.
            </p>
        </section>
    </div>
    <footer>
    </footer>